@import "tailwindcss";

@layer components {
  .tab-btn {
    @apply px-4 py-2 text-sm font-medium border-b-2 transition;
  }

  .tab-active {
    @apply border-purple-500 text-purple-600;
  }

  .tab-inactive {
    @apply border-transparent text-gray-500 hover:text-purple-600 hover:border-purple-300;
  }
}
